@model BookMyShowEntity.User;


@{
    ViewData["Title"] = "UserEntry";
}

<div>
    <a asp-controller="User" asp-action="Index">Back to Index</a>
    <center><h1 style="font-family:Algerian;">Welcome to User Entry</h1></center>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">
   
    <div class="form-group">
        <label>User Name</label>
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User Name" required />

    </div>
    <div class="form-group">
        <label>User Phone</label>
        <input type="text" asp-for="Phone" class="form-control" placeholder="Enter User Phone" required />

    </div>
    <div class="form-group">
        <label>User Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Enter User Email" required />

    </div>
    <div class="form-group">
        <label>User Password</label>
        <input type="text" asp-for="Password" class="form-control" placeholder="Enter User Password" required />

    </div>
   @* <div class="form-group">
        <label>Role</label>
        <input type="text" asp-for="Role" class="form-control" placeholder="Enter Role" required />

    </div>*@
    
   
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }


</form>
