@model BookMyShowEntity.ShowTiming;


@{
    ViewData["Title"] = "DeleteShowTiming";
}

<div>
    <a asp-controller="ShowTiming" asp-action="Index">Back to Index</a>
    <center><h1>Welcome to Show Timing Delete Section</h1></center>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Show ID</label>
        <input type="text" asp-for="ShowId" class="form-control" placeholder="Show ID" required disabled />

    </div>

    <input type="submit" value="Delete" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }


</form>




