@model BookMyShowEntity.ShowTiming;


@{
    ViewData["Title"] = "EditShowTiming";
}


<div>
    <a asp-controller="ShowTiming" asp-action="Index">Back to Index</a>
    <center><h1 style="font-family:Algerian;">Welcome to Show Timing Edit Section</h1></center>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Show ID</label>
        <input type="text" asp-for="ShowId" class="form-control" placeholder="Enter Show ID" required disabled />

    </div>
    <div class="form-group">
        <label>Movie ID</label>
        <input type="text" asp-for="MovieId" class="form-control" placeholder="Enter Movie ID" required />

    </div>
    <div class="form-group">
        <label>Movie Name</label>
        <input type="text" asp-for="Movie.Name" class="form-control" placeholder="Enter Movie Name" required />

    </div>
    <div class="form-group">
        <label>Theatre ID</label>
        <input type="text" asp-for="TheatreId" class="form-control" placeholder="Enter Theatre ID" required />

    </div>
    <div class="form-group">
        <label>Show Time</label>
        <input type="datetime-local" asp-for="ShowTime" class="form-control" placeholder="Enter Show Time" required />

    </div>
    <input type="submit" value="Update" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }


</form>
