@model IEnumerable<BookMyShowEntity.Location>


@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-controller="Location" asp-action="LocationEntry">Click here for location Entry</a>
    <hr />
    <center>
    <input type="search" value="Search for Location" style="width:500px" />
    <input type="button" value="Search" style="color:green" />
    <hr />
    </center>
</div>


<div class="row">
    <div class="col-12">
        <center><h3 style="color:red;font-family:Algerian;">Location Entries</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Location Id</th>
                    <th>Location Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in Model)
                {
                    <tr>
                        <td>@location.LocationId</td>
                        <td>@location.LocationName</td>
                        
                        <td><a asp-controller="Location" asp-action="EditLocation" asp-route-LocationId="@location.LocationId">Edit</a></td>
                        <td><a asp-controller="Location" asp-action="DeleteLocation" asp-route-LocationId="@location.LocationId">Delete</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>

