@model BookMyShowEntity.Theatre;


@{
    ViewData["Title"] = "DeleteTheatre";
}

<div>
    <a asp-controller="Theatre" asp-action="Index">Back to Index</a>
    <center><h1 style="font-family:Algerian;">Welcome to Theatre Delete Section</h1></center>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Theatre ID</label>
        <input type="text" asp-for="TheatreId" class="form-control" placeholder="Theatre ID" required disabled />

    </div>

    <input type="submit" value="Delete" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }


</form>


